body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container {
	width: 40%; /* Or any specific width */
	margin: 0 auto;
}

.large-font-table {
	width: 100%;
	font-size: 36px;
}
.large-font-table td {
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination-controls {
    margin-top: 20px;
}
#infospan {
    font-size: 16px;
    margin-top: 10px;
}
#cbare {
    margin-top: 20px;
}